<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="servicestack:license" value="5119-e1JlZjo1MTE5LE5hbWU6UGluayBFbnRlcnRhaW5tZW50LFR5cGU6SW5kaWUsSGFzaDpjZzMyVVYrNXZNNVJFbzN3Y2tOM0poeDZldzdrUmp1bGYvMFhmWjUwUkt6M05iUFlNM3czWGlORDVHY1JjK29Ja3poeHJaL0pzRE9TMFhDWTlXOXNvQk44WjAxaFI5Z3Y3MWUwNW9kUGRoVm5JeUZBWUFud2hnY1V4bFR4a1FuRlduWGprSXF3ZUdGWDdxVTVBNFdxZTd3TEVieWJNNEEzV3ZIa0V0WGJlSEU9LEV4cGlyeToyMDE4LTA2LTI2fQ==" />
        <!-- Host config -->
        <add key="host.DebugMode" value="true" />
        <add key="host.AdminAuthSecret" value="bosshong" />
        <!-- Database config -->
        <add key="db.Provider" value="SqlServer2014" />
        <add key="db.ConnectionString" value="Data Source=10.154.72.140;Persist Security Info=True;User ID=sa;Password=Bosshong2012;Initial Catalog=SheepCommunityV2" />
        <!-- RethinkDB config -->
        <add key="rethinkdb.HostName" value="10.105.248.69" />
        <!--<add key="rethinkdb.HostName" value="122.152.202.247" />-->
        <add key="rethinkdb.Port" value="28015" />
        <add key="rethinkdb.Timeout" value="60" />
        <add key="rethinkdb.Database" value="Sheep" />
        <add key="rethinkdb.Shards" value="1" />
        <add key="rethinkdb.Replicas" value="1" />
        <!-- Redis config -->
        <add key="redis.ConnectionString" value="Bosshong...net2012@10.154.155.19:6379" />
        <!--<add key="redis.ConnectionString" value="Bosshong...net2012@111.231.61.158:6379" />-->
        <!-- Create Aliyun Dayu App at: https://api.alidayu.com/doc2/apiList.htm -->
        <add key="top.AppKey" value="23480338" />
        <add key="top.AppKeySecret" value="ac3f7ea0e9aa65d952539ddd88917546" />
        <add key="top.Url" value="https://eco.taobao.com/router/rest" />
        <!-- Create Aliyun OSS at: https://api.alidayu.com/doc2/apiList.htm -->
        <add key="oss.AccessKeyId" value="kgUmY0dO1Bw94Cau" />
        <add key="oss.AccessKeySecret" value="qpARCY9BBujKrPMKWwAvSVWwTE419y" />
        <add key="oss.Endpoint" value="https://oss-cn-shanghai.aliyuncs.com" />
        <add key="oss.Bucket" value="sheepcommunity" />
        <add key="oss.Url" value="http://sheepcommunity.oss-cn-shanghai.aliyuncs.com" />
        <!-- Create Mobile Token -->
        <add key="token.mobile.Signature" value="羊群公社" />
        <add key="token.mobile.LoginTemplate" value="SMS_105455025" />
        <add key="token.mobile.RegisterTemplate" value="SMS_75925100" />
        <add key="token.mobile.BindTemplate" value="SMS_105325031" />
        <add key="token.mobile.ResetPasswordrTemplate" value="SMS_75725088" />
        <!-- Create Weibo App at: http://open.weibo.com/development -->
        <add key="oauth.weibo.AppKey" value="3088169306" />
        <add key="oauth.weibo.AppSecret" value="a6431c7f0a73fd5725da637398c77bd9" />
        <add key="oauth.weibo.AccessTokenUrl" value="https://api.weibo.com/oauth2/access_token" />
        <add key="oauth.weibo.GetTokenUrl" value="https://api.weibo.com/oauth2/get_token_info" />
        <add key="oauth.weibo.ShowUserUrl" value="https://api.weibo.com/2/users/show.json" />
        <add key="oauth.weibo.GetCountryUrl" value="https://api.weibo.com/2/common/get_country.json" />
        <add key="oauth.weibo.GetProvinceUrl" value="https://api.weibo.com/2/common/get_province.json" />
        <add key="oauth.weibo.GetCityUrl" value="https://api.weibo.com/2/common/get_city.json" />
        <add key="oauth.weibo.GetTimezoneUrl" value="https://api.weibo.com/2/common/get_timezone.json" />
        <add key="oauth.weibo.RedirectUrl" value="http://127.0.0.1:12345/account/accesstoken/weibo" />
        <add key="oauth.weibo.Scopes" value="email,invitation_write,friendships_groups_read,statuses_to_me_read,follow_app_official_microblog" />
        <!-- Create Weixin App at: https://open.weixin.qq.com/cgi-bin/showdocument?action=dir_list&t=resource/res_list&verify=1&lang=zh_CN -->
        <add key="oauth.weixin.AppKey" value="wx35bbc4522fb5a78a" />
        <add key="oauth.weixin.AppSecret" value="3a7187f6807d8b399aad45ae70af91e8" />
        <add key="oauth.weixin.AccessTokenUrl" value="https://api.weixin.qq.com/sns/oauth2/access_token" />
        <add key="oauth.weixin.RefreshTokenUrl" value="https://api.weixin.qq.com/sns/oauth2/refresh_token" />
        <add key="oauth.weixin.AuthenticateTokenUrl" value="https://api.weixin.qq.com/sns/auth" />
        <add key="oauth.weixin.UserInfoUrl" value="https://api.weixin.qq.com/sns/userinfo" />
        <!-- Create Cos App at: https://cloud.tencent.com/document/product/436/6052 -->
        <add key="oauth.cos.AppId" value="1252729362" />
        <add key="oauth.cos.SecretId" value="AKIDpbFiz7RYYN0XtA8AvVtKfolX8cv399Tc" />
        <add key="oauth.cos.SecretKey" value="qa8XkmcHl40rYWK1CJE6tUu8B2JWlaKy" />
        <add key="oauth.cos.ApiUrl" value="https://sh.file.myqcloud.com/files/v2" />
        <add key="oauth.cos.Bucket" value="yangqun" />
        <!-- Create Netease IM App at: http://dev.netease.im/docs/product/IM%E5%8D%B3%E6%97%B6%E9%80%9A%E8%AE%AF/%E6%9C%8D%E5%8A%A1%E7%AB%AFAPI%E6%96%87%E6%A1%A3 -->
        <add key="im.netease.AppKey" value="e96df34549d7bb638e3403efc9c07754" />
        <add key="im.netease.AppSecret" value="07ac037db6c1" />
        <add key="im.netease.UserCreateUrl" value="https://api.netease.im/nimserver/user/create.action" />
        <add key="im.netease.UserUpdateUrl" value="https://api.netease.im/nimserver/user/update.action" />
        <add key="im.netease.UserBlockUrl" value="https://api.netease.im/nimserver/user/block.action" />
        <add key="im.netease.UserUnBlockUrl" value="https://api.netease.im/nimserver/user/unblock.action" />
        <add key="im.netease.UserUpdateInfoUrl" value="https://api.netease.im/nimserver/user/updateUinfo.action" />
        <add key="im.netease.UserGetInfosUrl" value="https://api.netease.im/nimserver/user/getUinfos.action" />
        <add key="im.netease.UserSetSpecialRelationUrl" value="https://api.netease.im/nimserver/user/setSpecialRelation.action" />
        <add key="im.netease.FriendAddUrl" value="https://api.netease.im/nimserver/friend/add.action" />
        <add key="im.netease.FriendUpdateUrl" value="https://api.netease.im/nimserver/friend/update.action" />
        <add key="im.netease.FriendDeleteUrl" value="https://api.netease.im/nimserver/friend/delete.action" />
        <add key="im.netease.MessageSendUrl" value="https://api.netease.im/nimserver/msg/sendMsg.action" />
        <add key="im.netease.MessageSendBatchUrl" value="https://api.netease.im/nimserver/msg/sendBatchMsg.action" />
        <add key="im.netease.MessageSendAttachUrl" value="https://api.netease.im/nimserver/msg/sendAttachMsg.action" />
        <add key="im.netease.MessageSendBatchAttachUrl" value="https://api.netease.im/nimserver/msg/sendBatchAttachMsg.action" />
        <add key="im.netease.MessageFileUploadUrl" value="https://api.netease.im/nimserver/msg/upload.action" />
        <add key="im.netease.MessageRecallUrl" value="https://api.netease.im/nimserver/msg/recall.action" />
        <add key="im.netease.TeamCreateUrl" value="https://api.netease.im/nimserver/team/create.action" />
        <add key="im.netease.TeamAddMemberUrl" value="https://api.netease.im/nimserver/team/add.action" />
        <add key="im.netease.TeamKickMemberUrl" value="https://api.netease.im/nimserver/team/kick.action" />
        <add key="im.netease.TeamRemoveUrl" value="https://api.netease.im/nimserver/team/remove.action" />
        <add key="im.netease.TeamUpdateUrl" value="https://api.netease.im/nimserver/team/update.action" />
        <add key="im.netease.TeamQueryUrl" value="https://api.netease.im/nimserver/team/query.action" />
        <add key="im.netease.TeamChangeOwnerUrl" value="https://api.netease.im/nimserver/team/changeOwner.action" />
        <add key="im.netease.TeamAddManagerUrl" value="https://api.netease.im/nimserver/team/addManager.action" />
        <add key="im.netease.TeamRemoveManagerUrl" value="https://api.netease.im/nimserver/team/removeManager.action" />
        <add key="im.netease.TeamGetJoinedUrl" value="https://api.netease.im/nimserver/team/joinTeams.action" />
        <add key="im.netease.TeamUpdateMemberNickUrl" value="https://api.netease.im/nimserver/team/updateTeamNick.action" />
        <add key="im.netease.TeamUpdateMemberMuteUrl" value="https://api.netease.im/nimserver/team/muteTeam.action" />
        <add key="im.netease.TeamMuteMemberUrl" value="https://api.netease.im/nimserver/team/muteTlist.action" />
        <add key="im.netease.TeamLeaveMemberUrl" value="https://api.netease.im/nimserver/team/leave.action" />
        <add key="im.netease.TeamMuteUrl" value="https://api.netease.im/nimserver/team/muteTlistAll.action" />
        <add key="im.netease.TeamGetMutedMembersUrl" value="https://api.netease.im/nimserver/team/listTeamMute.action" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.3.6.0" newVersion="2.3.6.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>